body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin: 0;
    color: #125CB8;
}
h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
.muraTitle {
    color: #AAE9E9;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
h2 {
    font-weight: bold;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.03em;
    text-transform: uppercase;    
}
.muraTitleH3 {
    color: #AAE9E9;
}
h4 {
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.02em;
    text-transform: uppercase;    
}
h5 {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-transform: uppercase;        
}
.nav-item {
    color: #579AEF;
    text-decoration: none;
    margin: 16px;
    padding: 8px;
}
#introduction {
    margin: 0px;
    padding: 64px 70px;
    background-color: #F7F9F9;
}
#research {
    margin: 0px;
    padding: 64px 70px;
}
#problem {
    margin: 0px;
    padding: 64px 70px;
    background-color: #ECF3FB;
}
#iteration {
    margin: 0px auto;
    padding: 64px 70px;
}
#results {
    margin: 0px;
    padding: 64px 70px;
    background-color: #ECF3FB;
}
#hide {
    margin: 0px;
    padding: 64px 70px;
    background-color: #F7F9F9;
}
#navigation {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: #072448;
    height: 80px;
    border-bottom: 3px solid #54D2D2;
    position: fixed;
    top: 0;
    z-index: 60;
}
#navMenu {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-right: 70px;
}
.navLinks {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    color: #579AEF;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin: 16px;
    padding: 8px;
}
a.navLinks:hover {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    background: #C7DDFA;
    border-radius: 8px;
    color: #125CB8;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin: 16px;
    padding: 8px;
}
#navMenu p a {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
}
#navigation img {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 27px;
    height: 31px;
    margin-left: 70px;
}
.container-fluid {
    max-width: 1440px;
}
#topArrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(84, 210, 210);
    background: rgba(84, 210, 210, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#topArrow img {
    width: 100%;
    height: 100%;
    color: #fff;
    margin: 0;
    position: relative;
    left: center;
    top: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#topArrow:hover a {
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 32px;
    background: rgba(34, 114, 116, 0.9);
}
.contact {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 240px;
    background-color: #F7F9F9;
    border-radius: 0px 10px 10px 0px;
}
.contact img {
    margin: 16px;
    width: 32px;
    height: 32px;
}
.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
  }
  .anchorBounce {
    animation-name: bounce;
  }
#navigation2 {
    display: block;
    background: #072448;
    border-top: 3px solid #54D2D2;
}
#footerMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
    padding-left: 70px;
}
#footerMenu p {
    color: #579AEF;
    text-align: center;
}
#footerMenu img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 24px;
    width: 50px;
    height: 50px;
}
button {
    width: 222px;
    height: 48px;
    background: #54D2D2;
    box-shadow: 0px 6px 14px rgba(7, 36, 72, 0.3);
    border-radius: 10px;
    border: 1px solid #54D2D2;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #072448;
}
button a {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-decoration: none;
    color: #072448;
}
button:hover {
    border: 1px solid #1F7274;
    background-color: #1F7274;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-decoration: none;
    color: #DDF6F6;
}
button:hover a {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-decoration: none;
    color: #DDF6F6;
}
@media only screen and (max-width: 600px) {
.lofi {
    flex-direction: column;
}  
}